.hourContainer{
    display: flex;
    overflow-x: scroll;
    gap: 40px;
    color:white;
    margin:15px;
    margin-bottom: 50px;
}
.heading{
    color: white;
    font-size: 25px;
    margin: 15px;
    text-decoration: underline;
}
.card{
    background-color: rgba(255,255,255,0.08);
    border: solid black;
    width: 500px;
    height: 200px;
    padding: 5px;
   text-align: center;
   
}

