.container {
  display: flex;
  font-size: 19px;
  justify-content: space-between;
  margin:15px;
  
}
.weeklyCard {
  width: 87%;
  position: sticky;
  max-height:590px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 20PX; 
   flex: '1 1 120px';
}
.weeklyCard::-webkit-scrollbar{
  width: 5px;
}
.day {
  display: flex;
  background-color: #1E2A3A;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  border:1px solid white;
  border-radius: 24px;
 margin-bottom: 10px;
flex: 1;
}
:global(body.dark-mode) .day {
  background-color: #121212;
  color: white;
}
.temperature {
  width: 90px;
  text-align: right;
}
.rightCard {
  border-radius: 15px;
 
}
.right {
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid white;
    height: 140px;
    width: 130px;
    background-color: #1E2A3A;
    border-radius: 24px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    
}
:global(body.dark-mode) .right {
  background-color: #121212;
  color: white;
}
.rain{
  color:#B0BEC5;
  font-size: 15px;
}
.label{
  color:#B0BEC5;
}
.ww{
  color:#B0BEC5;
}
.pp{
  color:#B0BEC5;
}
.wwind{
  margin: 0;
  padding: 0;
}
@media(width<=511px) and (width>= 319px) {
.container{
  flex-wrap: wrap;
  font-size: 12px;
  grid-template-columns: 1fr 1fr;
}
.rightCard{
  margin-top: 20px;
display: grid;
gap: 12px;
  
  grid-template-columns: 1fr 1fr;
}
.right{
  width: 120px;
  height: 130px;
}
.weeklyCard{
  width: 95%;
}

}
@media(width>=500px){
  .container{
    gap: 10px;
  }
}
