nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 15px;
   color: white;
}
.location{
    font-size: 10px;
}
.icons{
    display: flex;
    gap:20px;
}
.SearchIcon{
    background-color: rgb(29, 44, 58);
}
.icon{
    font-size: 40px;
}
.infoIcon{
    font-size: 40px;

}